<%= form_with(model: todo, id: "#{dom_id(todo)}_form") do |form| %> 
  <% if todo.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2>
        <%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:
      </h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-6">
    <%= form.label :title, class: "sr-only" %>
    <div class="relative">
      <div class="grid grid-cols-3 gap-1 shadow-sm rounded-full border border-gray-500 w-full text-md md:text-lg bg-[#1a4266]/[.2]">
        <%= form.text_field :title, class: "bg-gray-100 outline-none px-3 py-2 md:px-6 md:py-4 focus:border-[#1a4266] :outline-none focus:ring-4 focus:ring-[#1a4266]/[.5] placeholder:text-gray-400 rounded-l-full ", placeholder: "Title" %>
        <%= form.text_field :description, class: "col-span-2 bg-gray-100 outline-none pl-3 pr-[4.5rem] md:pl-6 md:pr-[9rem] py-2 md:py-4 focus:border-[#1a4266] :outline-none focus:ring-4 focus:ring-[#1a4266]/[.5] placeholder:text-gray-400 rounded-r-full", placeholder: "Description" %>
      </div>
      <div class="absolute top-0 right-0">
        <button type="submit" class="mt-px rounded-full py-2 px-4 md:py-4 md:px-5 bg-[#1a4266] text-white
        font-medium cursor-pointer border md:border-2 border-[#1a4266]/[.8] hover:bg-[#1a4266]/[.8]
        hover:border-[#1a4266]/[.8]">
          <i class="fa-solid fa-arrow-right-long text-sm md:text-lg"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>
