<div data-controller="folder">
  <div class="relative overflow-y-auto scroll-my-0.5 bg-gray-500/[.4] w-[95%] mx-auto h-screen my-5 rounded-xl border border-[#ccc]" data-target="folder.container">
    <div class="bg-gray-600/[.7] p-5 rounded-t-xl flex" data-target="folder.header">
      <div class="inline-block hidden md:block">
        <div class="grid grid-cols-2 border border-gray-200 font-medium italic text-sm md:text-md rounded-xl">
          <div class="border-r-2 border-gray-200 px-4 py-2 text-gray-600/[.7] bg-gray-200 rounded-l-lg rounded-tr-xl hover:opacity-75" role="button" onclick="location.href='/'">
            SortableList
          </div>
          <div class="px-4 py-2 text-gray-200 hover:opacity-75" role="button" onclick="location.href='/todos/new'">
            Add List
          </div>
        </div>
      </div>
      <div class="md:hidden hs-dropdown [--strategy:static] [--adaptive:none]">
        <button class="px-4 py-2 text-gray-600/[.7] bg-gray-200 rounded-full text-[1.2rem] hover:opacity-75">
          <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="hidden hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] hs-dropdown-open:opacity-100 opacity-0 z-10 bg-gray-200 rounded-lg p-2 absolute mt-1">
          <button class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm font-medium  italic text-gray-500 hover:bg-gray-300 w-full" onclick="location.href='/'">
            SortableList
          </button>
          <button class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm font-medium italic text-gray-500 hover:bg-gray-300 w-full" onclick="location.href='/todos/new'">
            Add List
          </button>
        </div>
      </div>
      <div class="absolute left-1/2 transform -translate-x-1/2">
        <div data-controller="apps">
          <%= button_to('', data: { action: 'click->apps#open' }, class: "hover:opacity-75") do %>
            <%= image_tag "grid-4.png", class: "w-[2.4rem] h-auto" %>
          <% end %>
          <!-- Apps Section -->
          <dialog data-apps-target="appsDialog" class="backdrop:bg-gray-900 backdrop:bg-opacity-60 open:animate-fade-in open:backdrop:animate-fade-in w-[95%] h-[40rem] p-5 bg-transparent ease-out duration-400">
            <button type="button" data-action="apps#close" class="fa-solid fa-xmark text-xs absolute z-50 top-0 right-0 bg-red-500/[.9] text-gray-200 rounded-full w-[1.6rem] h-[1.6rem] flex items-center justify-center mt-[0.9rem] mr-[0.9rem]"></button>
            <!-- Card -->
            <div class="relative w-full h-full bg-gray-800/[.7] rounded-lg p-5 overflow-y-auto scroll-my-0.5 border border-gray-500">
              <!-- Icon Blocks -->
              <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-12">
                  <% @todos.order(position: :asc).each do |todo| %>
                    <!-- Icon Block -->
                    <%= button_to(todo_path(todo), method: :patch, remote: true) do %>
                      <input type="hidden" name="todo[visibility]" value="<%= todo.visibility = true %>">
                      <div class="relative flex justify-center items-center w-12 h-12 bg-white rounded-xl before:absolute before:-inset-px before:-z-[1] before:bg-gradient-to-br before:from-blue-600 before:via-transparent before:to-violet-600 before:rounded-xl">
                        <i class="fa-solid fa-folder text-lg text-gray-700"></i>
                      </div>
                      <div class="mt-5">
                        <h4 class="text-gray-400 text-sm ml-1"><%= todo.title %></h4>
                      </div>
                    <% end %>
                    <!-- End Icon Block -->
                  <% end %>
                </div>
              </div>
              <!-- End Icon Blocks -->
            </div>
            <!-- End Card -->
          </dialog>
          <!-- End Of Apps Section -->
        </div>
      </div>
    </div>
    <div data-controller="drag" data-drag-url="/todos/:id/move">
      <% @todos.order(position: :asc).each do |todo| %>
        <% if todo.visibility? %>
          <!-- Card -->
          <div class="cursor-pointer card bg-gray-500/[.8] p-4 ease-out duration-400 my-5 w-[40%] mx-auto rounded-md hover:opacity-75 shadow-md shadow-gray-800 hover:shadow-none" data-target="folder.card" data-id="<%= todo.id %>">
            <div data-controller="modal">
              <!-- List -->
              <div class="icon-folder flex items-center justify-center"></div>
              <div class="content">
                <div class="card-button grid grid-cols-3 gap-2 w-[4rem] text-[0.6rem] text-[#731F1E]">
                  <%= button_to(todo_path(todo), method: :patch, remote: true, class: "bg-[#FF605C]/[.8] rounded-full w-[1rem] h-[1rem] flex items-center justify-center") do %>
                    <input type="hidden" name="todo[visibility]" value="<%= todo.visibility = false %>">
                    <i class="icon fa-solid fa-xmark"></i>
                  <% end %>
                  <button data-action="click->folder#minimizeCard" class="bg-[#FFBD44]/[.8] rounded-full w-[1rem] h-[1rem] flex items-center justify-center">
                    <i class="icon fa-solid fa-minus"></i>
                  </button>
                  <%= button_to('', data: { action: 'click->modal#open' }, class: "bg-[#00CA4E]/[.8] rounded-full w-[1rem] h-[1rem] flex items-center justify-center") do %>
                    <i class="icon fa-solid fa-up-right-and-down-left-from-center"></i>
                  <% end %>
                </div>
                <div class="py-4 border-t border-gray-400 mt-3">
                  <h4 class="text-gray-200 text-md"><%= todo.title %></h4>
                  <p class="text-gray-300 text-xs"><%= todo.description %></p>
                </div>
              </div>
              <!-- End Of List -->
              <!-- Modal Section -->
              <dialog data-modal-target="modal" class="backdrop:bg-gray-900 backdrop:bg-opacity-60 open:animate-fade-in open:backdrop:animate-fade-in w-[80%] md:w-[60%] h-[20rem] p-5 bg-transparent">
                <!-- Card -->
                <div class="relative w-full h-full bg-gray-200 shadow-lg rounded-lg p-5">
                  <button type="button" data-action="modal#close" class="fa-solid fa-xmark text-xs absolute z-50 top-0 right-0 bg-red-500/[.9] text-gray-200 rounded-full w-[1.6rem] h-[1.6rem] flex items-center justify-center mt-[-0.5rem] mr-[-0.5rem]"></button>
                  <div class="grid grid-cols-2 gap-4 h-full">
                    <div class="flex items-center justify-center">
                      <div class="inline-flex justify-center items-center w-[8rem] h-[8rem] rounded-full border-4 border-blue-50 bg-blue-100">
                        <i class="fa-solid fa-list-check text-3xl"></i>
                      </div>
                    </div>
                    <div class="flex items-center">
                      <div>
                        <h3 class="block text-lg font-semibold text-gray-600 mb-4"><%= todo.title %></h3>
                        <p class="text-gray-400 text-md"><%= todo.description %></p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card -->
              </dialog>
              <!-- End Of Modal Section -->
            </div>
          </div>
          <!-- End of card -->
        <% end %>
      <% end %>
    </div>
  </div>
</div>
