<div class="p-4 bg-gray-500/[.4] w-[90%] mx-auto h-screen my-5 rounded-3xl">
  <div class="my-2 flex py-2 px-4">
    <div class="w-1/2">
      <h1 class="text-lg md:text-3xl font-bold text-slate-800 hover:opacity-75 cursor-pointer">Todo List</h1>
    </div>
    <div class="w-1/2 text-right">
      <%= link_to new_todo_path, class: 'px-4 py-2 border-2 border-gray-800 text-gray-800 text-md rounded-md hover:opacity-75' do %>
        Add New Todo
      <% end %>
    </div>
  </div>
  <div class="py-3 px-10 bg-gray-400/[.9] rounded-lg h-[70%] overflow-y-auto scroll-my-0.5">
    <div class="my-4">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: build_alert_classes(type) %>
      <% end %>
    </div>
    <div data-controller="drag" data-drag-url="/todos/:id/move" class="mt-2 space-y-6">
      <% @todos.order(position: :asc).each do |todo| %>
        <div class="relative bg-gray-600/[.9] hover:opacity-75 text-center cursor-grab rounded-md w-[40%] mx-auto shadow-md shadow-slate-500 hover:shadow-none pt-2" data-id="<%= todo.id %>">
          <div class="grid grid-cols-3 gap-2 w-[4rem] text-[0.6rem] text-[#731F1E] ml-4">
            <%= button_to(todo_path(todo), method: :delete, data: {confirm: 'Are you sure?'}, class: "card-button bg-[#FF605C]/[.8] rounded-full w-[1rem] h-[1rem] flex items-center justify-center") do %>
              <i class="icon fa-solid fa-xmark"></i>
            <% end %>
            <%= link_to(edit_todo_path(todo), class: "card-button bg-[#FFBD44]/[.8] rounded-full w-[1rem] h-[1rem] flex items-center justify-center") do %>
              <i class="icon fa-solid fa-wand-magic-sparkles"></i>
            <% end %>
            <%= button_to(todo_path(todo), class: "card-button bg-[#00CA4E]/[.8] rounded-full w-[1rem] h-[1rem] flex items-center justify-center") do %>
              <i class="icon fa-solid fa-up-right-and-down-left-from-center"></i>
            <% end %>
          </div>
          <div class="mt-2 bg-gray-500/[.8] rounded-sm py-4">
            <h4 class="text-gray-200 text-md"><%= todo.title %></h4>
            <p class="text-gray-300 text-xs"><%= todo.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="absolute bottom-0 left-2/3 transform -translate-x-1/3 animate-bounce">
      <i class="fas fa-arrow-down text-gray-100 text-3xl bg-gray-600/[.9] rounded-full w-[2.5rem] h-[2.5rem] text-center py-1"></i>
    </div>
  </div>
</div>
